
.aside{
    float: left;
    width: 20%;
    line-height: 2rem;
    /* text-align: center; */
    padding-right: 5%;
    padding-left: 5%;
    /* background-color: yellow; */
}

/*nav a {
    display: block;
    /* margin-top: 20px; 
}*/

/*.nav-link :hover{
    background-color: red;
}*/
.main{
    width: 70%;
    float: right;
    /* background-color: green; */
} 

/* #main-doc { */

    /* margin-left:s 15%; */
    /* width: 85%; */
/* } */
#main-doc header {
    font-size: 1.5rem;
    font-weight: 500;
}
.nav-link {
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 1000px)
 {
    .aside{

     /*  position: static;*/
           display:initial;
           
          /* background-cuolor: yellow;*/
          /* text-align: left;*/
           float: none;
           padding: 0%;
            }
    .nav-link {
        width: 100%;
        display:initial;
     border:1px solid black; 
    padding-right: 50%;
 position: absolute;


       

    }
    /* nav a :hover{ 
        background-color: brown;
    }
    */
    
    .main {
        /* float: none; */
        width: 100%;
        margin-left: 0%;
        padding: 0%;
        margin: 0%;
    }
}